# Secrets — never commit
.env
platform/opensearch/certs/*.pem
platform/opensearch/certs/*.srl
platform/wazuh-dashboard/certs/*.pem
platform/wazuh-dashboard/certs/*.srl

# Cortex job output
platform/cortex/jobs/

# macOS
.DS_Store
__MACOSX/

# Windows
Thumbs.db
desktop.ini

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
